/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

small,
figcaption {
  font-size: 0.9em;
  color: $gray-light;
}

strong, b {
  font-weight: bold;
  color: $gray-dark;
}

del {
  text-decoration: line-through;
}

hr {
  height: 0;
  margin: 1rem auto;
  border: none;
  border-top: 1px solid #eee;
}

// code
// code fonts
code,
kbd,
pre,
samp  {
  font-family: $font-family-monospace;
}

// inline code
code {
  padding: .2em .4em;
  font-size: 90%;
  color: $code-color;
  background-color: $code-bg;
  border-radius: .25em;
}

pre {
  display: block;
  padding: 1em 1.5em;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  background: #f8f8f8;
  font-size: 90%;
  line-height: $line-height;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

// default link
a {
  color: $body-color;
  text-decoration: none;
  transition: .3s;

  &:link,
  &:visited {
    color: $body-color;
  }

  &:hover,
  &:active {
    color: $link-color;
  }
}

// reset the box-sizing to `border-box`
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// reset html & body font & color
html {
  // rem 16px
  font-size: $font-size-root;
}

body {
  font-family: $font-family-base;
  font-size: 1rem;
  line-height: $line-height;

  color: $body-color;
  background-color: $body-bg;

  @if $enable-antialiase {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}
