// 字体抗锯齿
$enable-antialiase: true;

// ----------------------
//    fonts
// ----------------------
//$font-family-sans-serif:     "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif:     "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$font-family-serif:          Georgia, "Times New Roman", Times, serif;
$font-family-monospace:      Consolas, Monaco,'Andale Mono', monospace;
$font-family-base:           $font-family-sans-serif;

$font-size-root: 16px;

$line-height: 1.35;

// -----------------------
//   colors
// -----------------------
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;

$body-bg: #fff;
$body-color: $gray;

$link-color: #559bd9;
$primary-color: #4a86e8;
$primary-color-darker: #0062ff;

// -----------------------
//   breakpoints
// -----------------------
$breakpoint-sm: 480px;
$breakpoint-md: 780px;
$breakpoint-lg: 1024px;