.posts {
  margin: 0;
  list-style: none;

  a.post-link {
    color: $gray-dark;
    text-decoration: none;
    transition: .3s;

    &:link,
    &:visited {
      color: $gray-dark;
    }

    &:hover,
    &:active {
      color: $link-color;
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 2rem;
      line-height: 1.5;
    }

    p.excerpt {
      margin-bottom: 1rem;
      color: $gray-light;
    }
  }

  hr.divider {
    width: 50%;
    margin: 1rem 0;
  }
}

.post-meta {
  color: $gray-lighter;
  font-size: .9rem;
}

.posts-related {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
}